@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

* {
  font-family: 'Slabo 27px';
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body { 
  
  min-height: 100vh;
  background: url('./code.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
} 

.main-head {
  grid-area: header;
  display: flex;
  justify-content: left;

}

.story {
  grid-area: story;
}

.main-nav {
  grid-area: nav;
}

.side {
  grid-area: sidebar;
}

.contact {
  grid-area: contact;
}

.main-footer {
  grid-area: footer;
}

.container {
    display: grid;
  grid-gap: 20px;
  grid-template-areas:
    'header'
    'nav'
    'story'
    'sidebar'
    'contact'
    'footer';

}

/* @media(min-width: 500px) {
  .container {
    grid-template-columns: 1fr 3fr;
    grid-template-areas:
      'header header'
      'nav nav'
      'sidebar story'
      'contact contact'
      'footer footer';
  }

  nav ul {
    display: flex;
    justify-content: space-between
  }
}

@media (min-width: 700px) {
  .container {
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-areas:
      'header header header'
      'nav nav nav'
      'story story sidebar'
      'story story contact'
      'footer footer footer';
  }

  nav ul {
    display: flex;
    justify-content: space-between;
  }
} */


.headshot {
  margin: auto 5px; 


}

.headshot img {
  padding-top: 2em;
  border-radius: 50%;
}

.info {
  padding-top: 2em;
}

.name {
  color: azure;
  padding-bottom: 15px;
  margin-right: 10px;
}

.info h2 {
  padding-left: 10px;
  color: azure;
}

.main-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  background-color: rgba(73, 73, 73, 0.8);
  width: 100%;
  /* justify-content: space-between; */

}

.main-nav li {
  width: 70%;
  text-align: center;
}

.main-nav a {
  text-decoration: none;
  color: azure;
}

.main-nav a:hover {
  color: blue;
}

.story-card {
  align-self: center;
  display: flex;
  text-align: center;
  margin: 40px;
  flex-direction: column;
  border-radius: 30px;
  min-width: 70%;
  max-width: 50%;
  background: rgba(73, 73, 73, .8)
}

.article {
  margin-top: 1em;
  text-align: center;
  color: azure;

}

.article p {
  padding: 10px;
}

.separator {

  border: black;
  border-width: 2px;
  border-style: solid;
  width: 50%;
  margin: 20px auto !important;
}